.First-section{
 background-color: #1F2937;
 color: white;
 height: 25%;
 width: 1035px;
 padding-left: 210px;
 padding-right: 220px;
 padding-top:20px;
 padding-bottom: 130px;
 margin: -10px;
 font-family: Arial;
}

.First-section .links .Logo{
 font-size: 24px;
 padding-bottom: 120px;
 padding-right:445px;
 display:flex;
 justify-content: start;
}

.First-section .content{
 display:flex;
}

.First-section .content .bold{
 display: flex;
 flex-direction:column;
}

.First-section .content .bold .text{
 font-size: 48px;
 width:400px;
}

.First-section .content .image{
 padding: 100px 150px;
 background-color:grey;
 width: 250px;
}

.First-section .content .bold .Text{
 font-size:18px;
 width: 480px;
}

.First-section .bold .SignUp{
 font-size: 18px;
 background-color: #0000ff;
 margin-top: 10px;
 padding: 10px 25px;
 width: 100px;
 text-align: center;
 border-radius: 10px;
}

.First-section .links{
 font-size: 18px;
 display:flex;
 justify-content:end;
 gap:20px;
}

.Second-section{
 font-family: Arial;
 height: 25%;
 width: 1035px;
 padding-left: 210px;
 padding-right: 220px;
 padding-top:20px;
 padding-bottom: 130px;
}
h2{
 display: flex;
 justify-content: center;
 font-size: 36px;
}
.Second-section .box{
 display:flex;
 justify-content: center;
} 
.Second-section .box .one, .two, .three, .four{
 border: 4px solid #0000ff;
 border-radius: 10px;
 padding:80px;
 margin-right: 40px;
}
.Second-section .text{
 display:flex;
 justify-content:center;
 font-size: 18px;
 color: grey;
}

.Second-section .text .text-1, .text-2, .text-3, .text-4{
 margin-right: 40px;
 width: 170px;
}
